<h1> Welcome to the online Opper-Shopper book store! </h1>
<h2> What're you looking for? Search via categories or genres below! </h2>
<div class="row genre-row">
        <%= render("genres") %>
    </div>